*{
  padding: 0;
  margin: 0;
  text-align: right;
}
a{
  text-decoration: none;
}
.navbar, footer{
  background: url('./images/motif.jpg');
  position: absolute;
  width: 100%;
}
main{
}
main .container-fluid{
  margin: 100px 0;
}

.dropdown-menu {
  padding: 0;
  border: none;
}
.dropdown  a{
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: inherit;
}


.dropdown-menu[data-bs-popper]{
  left: unset;
  right: 0;
  padding: 0;
  margin:0;
}
.active-nav{
  font-size: 15px;
  padding: 10px;
  top: -5%;
  right: 2%;
  transform: translate(0, 2%);
}
.my-form{
  background: #efefef;
  padding: 5px 20px;
  border-radius: 10px;
}
.form-label{
  width: max(105px ,20%);
}
.form-group{
  height: min(45px, auto);
  margin-left: auto;
  align-items: center;
}
.form-control{
  width: 75%;
  height: 35px;
  border-radius: 10px;
}
.add-btn{
  margin-right: auto;
  width: 200px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  #basic-navbar-nav a:hover{
    background: #fff;
    color: #000;
  }
  .dropdown-menu a{
    color: #000;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: #fff;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
    color: #000;
}
.dropdown:hover .dropdown-toggle.nav-link,.dropdown:hover .dropdown-toggle.nav-link::after, .dropdown:hover a{
  background: #fff;
  color: #000;

}
}